<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo_smarthome.png') }}" width="35" height="35" class="d-inline-block align-top" alt="Logo"> VISION</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/voice' %}active{% endif %}" href="{{ url_for('page') }}">Voice Assistant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/remote' %}active{% endif %}" href="{{ url_for('remote_devices') }}">Remote Control</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/WeatherStart' %}active{% endif %}" href="{{ url_for('weatherStart') }}">Weather & Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/security' %}active{% endif %}" href="#">Security</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" id="button_login" href="{{ url_for('logout') }}"><i class="material-icons d-inline-block align-top">launch</i> Sign out</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="button_settings" href="#"><i class="material-icons d-inline-block align-top">list</i></a>
        </li>
    </ul>
  </div>
</nav>