<div class="btn-group-lg" id="button_selection">
    <a href="#" class="btn btn-primary"><i class="material-icons">home</i> Rooms</a>
    <a href="{{ url_for('remote_devices') }}" class="btn btn-primary {% if request.path == '/remote' %}active{% endif %}"><i class="material-icons">lightbulb_outline</i> Devices</a>
    <a href="#" class="btn btn-primary"><i class="material-icons">dns</i> Presets</a>
    <a href="#" class="btn btn-primary"><i class="material-icons">schedule</i> Schedule</a>
    <a href="#" class="btn btn-primary"><i class="material-icons">settings</i> Settings</a>
</div>