{% extends 'layout.html' %}

{% block body %}
    <title>Remote Devices</title>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2" id="left">
                {% include 'includes/_remote_nav.html' %}
            </div>

            <div class="col-sm" id="middle">
                <div id="device_menu">
                    <table class="table table-bordered table-responsive-sm table-dark" id="device_table">
                        <thead>
                            <th scope="col" id="header_light" class="bg-primary text-white device_menu_header"><h2>LIGHT</h2></th>
                            <th scope="col" id="header_fan" class="bg-success text-white device_menu_header"><h2>FAN</h2></th>
                            <th scope="col" id="header_tv" class="bg-warning text-white device_menu_header"><h2>TV</h2></th>
                            <th scope="col" id="header_ac" class="bg-danger text-white device_menu_header"><h2>AC</h2></th>
                            <th scope="col" id="header_other" class="bg-info text-white device_menu_header"><h2>OTHER</h2></th>
                        </thead>
                        <tbody>
                            {% for i in range(8) %}
                                <tr class="device_menu_row">
                                    {% for type in device_types %}
                                        <td>
                                            {% for device_type, device in device_dict %}
                                                {% if device_type == type and device_name_dict[device_type][i] != NULL %}
                                                    <a href="#" class="button_device btn btn-outline-primary">{{ device_name_dict[device_type][i] }}</a>
                                                    <label class="switch button_device_power">
                                                      <input type="checkbox" data-device-switch="{{ device_name_dict[device_type][i] }}">
                                                      <span class="slider round"></span>
                                                    </label>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}

                            <tr class="device_menu_row text-dark">
                                {% for type in device_types %}
                                    <td>
                                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="{{ '#add_device_'+type }}">
                                            Add new device
                                        </button>

                                        <div class="modal fade" id="{{ 'add_device_'+type }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'add_device_label_'+type }}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="{{ 'add_device_label_'+type }}">Select {{ type }} brand</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <div class="modal-body">
                                                        {% for brand in brands %}
                                                            <button type="button" class="device_brand list-group-item list-group-item-action" onclick="getDeviceName('{{ type }}', '{{ brand }}')">{{ brand }}</button>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {% for brand in brands %}
                                        <div class="form_device_name modal fade" id="{{ 'name_device_'+type+'_'+brand }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'name_device_label_'+type }}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="{{ 'name_device_label_'+type+'_'+brand }}"></h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <form class="device_form" data-device-type="{{ type }}" data-device-brand="{{ brand }}" method="POST" action="/remote">
                                                        <div class="modal-body">
                                                            {{ form.hidden_tag() }}

                                                            <div class="form-group">
                                                                {% if form.name.errors %}
                                                                    {% for error in form.name.errors %}
                                                                        <p class="error-message">{{ error }}</p>
                                                                    {% endfor %}
                                                                {% endif %}

                                                                {{ form.name(class='device_name_input form-control', placeholder='Device name', required=True) }}

                                                                <input type="hidden" name="device_type" value="{{ type }}">
                                                                <input type="hidden" name="device_brand" value="{{ brand }}">
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            {{ form.submit(class='btn btn-primary') }}
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="NOcol-sm-1" id="right">

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            {% for device, power in device_power.items() %}
                var device_switch = $('.button_device_power input[data-device-switch="{{ device }}"]');

                {% if power == 'off' %}
                    device_switch.prop("checked", false);
                {% elif power == 'on' %}
                    device_switch.prop("checked", true);
                {% endif %}
            {% endfor %}

            $('.button_device_power input').change(function() {
                var device = $(this).attr('data-device-switch');

                if (this.checked) {
                    $.post('/remote/power', {
                        'name': device,
                        'power': 'on'
                    });
                }
                else {
                    $.post('/remote/power', {
                        'name': device,
                        'power': 'off'
                    });
                }
            });
        });
    </script>
{% endblock %}