{% extends 'layout.html' %}

{% block body %}
    <title>Remote Devices</title>

    <div class="container-fluid">
        <div class="row">
            {% include 'includes/_remote_nav.html' %}

            <div class="remote_content col-sm">
                <h4 class="text-light">Rooms</h4>
                <div id="rooms_menu">
                    <button type="button" class="button_device_room btn btn-outline-success">Show All</button>

                    <button type="button" class="button_device_room btn btn-outline-info">test room 1</button>
                    <button type="button" class="button_device_room btn btn-outline-info">test room 2</button>
                    <button type="button" class="button_device_room btn btn-outline-info">test room 3</button>
                </div>

                <h4 class="text-light">Devices</h4>
                <table class="table table-bordered table-responsive-sm table-dark" id="device_table">
                    <thead>
                        <th scope="col" id="header_light" class="bg-primary"><h1 class="device_type_title">LIGHT</h1> <h1 class="device_type_count">{{ device_type_count['light'] }}</h1></th>
                        <th scope="col" id="header_fan" class="bg-success"><h1 class="device_type_title">FAN</h1> <h1 class="device_type_count">{{ device_type_count['fan'] }}</h1></th>
                        <th scope="col" id="header_tv" class="bg-warning"><h1 class="device_type_title">TV</h1> <h1 class="device_type_count">{{ device_type_count['TV'] }}</h1></th>
                        <th scope="col" id="header_ac" class="bg-danger"><h1 class="device_type_title">AC</h1> <h1 class="device_type_count">{{ device_type_count['AC'] }}</h1></th>
                        <th scope="col" id="header_other" class="bg-info"><h1 class="device_type_title">OTHER</h1> <h1 class="device_type_count">{{ device_type_count['device'] }}</h1></th>
                    </thead>
                    <tbody>
                        {% for i in range(device_count_range) %}
                            <tr class="device_menu_row">
                                {% for device_type in device_types %}
                                    <td>
                                        {% for device in device_dict[device_type] %}
                                            {% if device == device_dict[device_type][i] %}
                                                <label class="switch button_device_power">
                                                    <input type="checkbox" data-device-switch="{{ device.type+device.name }}" data-device-switch-type="{{ device.type }}" data-device-switch-name="{{ device.name }}">
                                                    <span class="slider round"></span>
                                                </label>

                                                <script>
                                                    var device_switch = $('.button_device_power input[data-device-switch="{{ device.type+device.name }}"]');

                                                    {% if device.power == 'off' %}
                                                        device_switch.prop("checked", false);
                                                    {% elif device.power == 'on' %}
                                                        device_switch.prop("checked", true);
                                                    {% endif %}
                                                </script>

                                                <div class="device_dropdown">
                                                    <button type="button" class="button_device btn btn-outline-info">{{ device.name }}</button>
                                                    <div class="device_dropdown_content" align="center">
                                                        <button type="button" class="btn btn-outline-primary device_dropdown_button">
                                                            Remote Interface
                                                        </button>

                                                        <button type="button" class="btn btn-outline-success device_dropdown_button" data-toggle="modal" data-target="#modal_device_info" onclick='setDeviceInfo("{{ device.type }}", "{{ device.brand }}", "{{ device.name }}", "{{ device.location }}")'>
                                                            Device Info
                                                        </button>

                                                        <button type="button" class="btn btn-outline-danger device_dropdown_button" onclick='removeDevice("{{ device.type }}", "{{ device.brand }}", "{{ device.name }}")'>
                                                            Remove
                                                        </button>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

                        <tr class="device_menu_row">
                            {% for device_type in device_types %}
                                <td>
                                    <button type="button" class="button_add_device btn btn-outline-secondary" data-toggle="modal" data-target="#modal_device_brand" onclick="setDeviceBrandModal('{{ device_type }}')">
                                        Add new device
                                    </button>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>

                <div class="modal fade" id="modal_device_brand" tabindex="-1" role="dialog" aria-labelledby="modal_device_brand_label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content text-light bg-dark">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal_device_brand_label"></h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="text-light" aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                {% for device_brand in device_brands %}
                                    <button type="button" class="list-group-item list-group-item-action text-light bg-dark border-secondary" data-dismiss="modal" data-toggle="modal" data-target="#modal_device_name" onclick="setDeviceNameForm('{{ device_brand }}')">
                                        {{ device_brand }}
                                    </button>
                                {% endfor %}

                                <button type="button" class="list-group-item list-group-item-action text-light bg-dark border-secondary" data-dismiss="modal" data-toggle="modal" data-target="#modal_brand_name">Other</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal_brand_name" tabindex="-1" role="dialog" aria-labelledby="modal_brand_name_label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content text-light bg-dark">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal_brand_name_label">
                                    Enter brand name
                                </h4>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="text-light" aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <input type="text" class="modal_focus_input form-control" name="device_other_brand" placeholder="Brand name" onfocus="this.value=''" required>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-light" onclick="">Next</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal_device_name" tabindex="-1" role="dialog" aria-labelledby="modal_device_name_label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content text-light bg-dark">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal_device_name_label">
                                    Name your <span id="header_device_brand"></span> <span id="header_device_type"></span>
                                </h4>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="text-light" aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <form method="POST" action="/remote">
                                <div class="modal-body">
                                    {{ deviceform.hidden_tag() }}

                                    {% if deviceform.name.errors %}
                                        {% for error in deviceform.name.errors %}
                                            <p class="error-message">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}

                                    {{ deviceform.name(class='modal_focus_input form-control', placeholder='Device name', onfocus="this.value=''", required=True) }}

                                    <input type="hidden" name="device_type" id="input_device_type">
                                    <input type="hidden" name="device_brand" id="input_device_brand">
                                </div>

                                <div class="modal-footer">
                                    {{ deviceform.submit(class='btn btn-outline-light') }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal_device_info" tabindex="-1" role="dialog" aria-labelledby="modal_device_info_label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content text-light bg-dark">
                            <div class="modal-header device_info_header">
                                <h4 class="modal-title" id="modal_device_info_label">
                                    Device Information
                                </h4>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="text-light" aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <h6>
                                    Type: <span id="device_info_type"></span>
                                    <br><br>
                                    Brand: <span id="device_info_brand"></span>
                                    <br><br>
                                    Name: <span id="device_info_name"></span>
                                    <br><br>
                                    Location: <span id="device_info_location"></span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
