{% extends 'layout.html' %}

{% block body %}
    <title>Remote Rooms</title>

    <div class="container-fluid">
        <div class="row">
            {% include 'includes/_remote_nav.html' %}

            <div class="remote_content col-sm">
                <div class="col-sm">
                    <button type="button">Add room</button>
                </div>

                <div class="col" id="floorplan_boundary">
                    <div class="room_test">
                        <span id="test_room_name">Test Room 1</span>
                    </div>

                    <div class="room_test">
                        <span id="test_room_name">Test Room 2</span>
                    </div>

                    <div class="room_test">
                        <span id="test_room_name">Test Room 3</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.room_test').draggable({
                containment: '#floorplan_boundary',
                snap: true
            });
        });
    </script>
{% endblock %}
