<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Household Weather</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
	<!-- Carousel -->
<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
<!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
    </div><!-- .carousel-inner -->
    <div class="container carousel-overlay text-center">
        <h1>Weather, Temperature and PSI.</h1>
        <p class="lead">Choose settings based on your preferences. Update them and let the system do the work.</p>
    </div>
</div><!-- .carousel -->
<!--end bg-carousel-->

<!--The rest of your page content below-->
<div class="container">
  <!-- Example row of columns -->
   <div class="row text-center">
    <div class="col-md-4">
      <div class="fa fa-paw fa-3x circles"></div>
      <h2>Weather</h2>
        <p>For the weather, you can choose which type of weather you would want your windows to automatically close or stay open.</p>
      <p><a class="btn btn-default" href="http://www.weather.gov.sg/weather-forecast-2hrnowcast-2/" role="button">See the weather in real time »</a></p>
    </div>
    <div class="col-md-4">
      <div class="fa fa-heart fa-3x circles"></div>
      <h2>Temperature</h2>
      <p>For the temperature, you can choose when your windows will open or close when your house is too hot or cold.</p>
      <p><a class="btn btn-default" href="http://www.weather.gov.sg/home/" role="button">See the temperature in real time »</a></p>
    </div>
    <div class="col-md-4">
      <div class="fa fa-book fa-3x circles"></div>
      <h2>PSI</h2>
      <p>For the PSI, you can choose when your windows will close when the PSI raises to dangerous levels.</p>
      <p><a class="btn btn-default" href="http://www.haze.gov.sg/" role="button">See the PSI in real time »</a></p>
    </div>
  </div>
    <div class="'container">
    <form method="POST" action="/WeatherSettings">
        City : <input type="text" name="zip">
        <input type="submit">
    </form>
    </div>
<hr>
<!-- FOOTER -->
<footer class="container-fluid">
	<center>
	<p class="pull-right"><a href="#">Back to top</a></p>
	<p>© 2017 Copyrighted by John· <a href="#">Privacy</a> · <a href="#">Terms</a></p>
	</center>
</footer>


</body>
</html>
