<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Household Weather</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather_main2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather_slider.css') }}">



</head>
<body>

	<!-- Carousel -->
<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
<!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
    </div><!-- .carousel-inner -->
    <div class="container carousel-overlay text-center">
        <h1>Weather, Temperature and PSI.</h1>
        <p class="lead">Choose settings for your windows based on your preferences. E.g. If you want your windows to close when it is raining automatically, turn Mostly Clouds: ON</p>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Settings For Your Windows</button>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">My Automated Window Settings:<br>(Open Windows(Turn ON)/Close Windows(Turn OFF))</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Weather</h3>
                        <hr>
                        <h5>When the sky is Mostly Cloudy</h5>
                        <label class="weather_switch">
                            <input type="checkbox">
                            <span class="weather_slider round"></span>
                        </label>
                        <hr>
                        <h5>When the sky is Mostly Sunny</h5>
                        <label class="weather_switch">
                            <input type="checkbox">
                            <span class="weather_slider round"></span>
                        </label>
                        <hr>
                        <h3>Temperature</h3>
                        <hr>
                        <h5>When the temperature is 10 - 30 degree celcius</h5>
                        <label class="weather_switch">
                            <input type="checkbox">
                            <span class="weather_slider round"></span>
                        </label>
                        <hr>
                        <h5>When the temperature is 30 - 50 degree celcius</h5>
                        <label class="weather_switch">
                            <input type="checkbox">
                            <span class="weather_slider round"></span>
                        </label>
                        <hr>
                        <h3>PSI</h3>
                        <hr>
                        <h5>When the PSI is 0 - 100 (Moderate)</h5>
                        <label class="weather_switch">
                            <input type="checkbox">
                            <span class="weather_slider round"></span>
                        </label>
                        <hr>
                        <h5>WWhen the PSI is 100 - 200 (Unhealthy)</h5>
                        <label class="weather_switch">
                            <input type="checkbox">
                            <span class="weatherslider round"></span>
                        </label>
                        <hr>
                        <h5>When the PSI is 200 - 300 (Very Unhealthy)</h5>
                        <label class="weather_switch">
                            <input type="checkbox">
                            <span class="weather_slider round"></span>
                        </label>
                        <hr>
                        <h5>When the PSI is above 300 (Hazardous)</h5>
                        <label class="weather_switch">
                            <input type="checkbox">
                            <span class="weather_slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .carousel -->
<!--end bg-carousel-->
  <!-- START THE FEATURETTES -->
  <hr>
<div class="container">
  <!-- Example row of columns -->
   <div class="row">
       <div class="col-md-7">
           <h2 class="featurette-heading">Weather <span class="text-muted">Choose when you want your windows open/close depending on the weather.</span></h2>
           <h2 class="lead">Current Weather: {{ weath }}.</h2>
           <h2 class="lead">Current Weather Description: {{descrip}}. </h2>
           <h2 class="lead">Current Wind Speed: {{ windspd }} knots .</h2>
       </div>
    <div class="col-md-5 text-center">
      <img src="{{ url_for('static', filename='img/drizzle.gif') }}" class="featurette-image img-responsive" height ="300" width="300">
    </div>
   </div>
    <hr>

  <div class="row">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Temperature <span class="text-muted">Choose when you want your windows to open/close depending on the temperature. </span></h2>
      <h2 class="lead">Current temperature: {{ temp }} degrees.</h2>
        <h2 class="lead">Current Humidity: {{ humid }}.</h2>
    </div>

    <div class="col-md-5 col-md-pull-7 text-center">
        <img src="{{ url_for('static', filename='img/temphigh.gif') }}" class="featurette-image img-responsive" height ="250" width="225">
    </div>
  </div>
    <hr>

  <div class="row">
    <div class="col-md-7">
      <h2 class="featurette-heading">PSI <span class="text-muted">Check the PSI to see whether it is fine to go outside.</span></h2>
    </div>
  </div>
    <div  id='map'  style='height:380px;'  />
        <script  src="https://maps.googleapis.com/maps/api/js"></script>

        <script>
            var  map  =  new  google.maps.Map(document.getElementById('map'),  {
                  center:  new  google.maps.LatLng(1.3521, 103.8198),
                  mapTypeId:  google.maps.MapTypeId.ROADMAP,
                  zoom:  11
              });

                              var  t  =  new  Date().getTime();
            var  waqiMapOverlay  =  new  google.maps.ImageMapType({
                  getTileUrl:  function(coord,  zoom)  {
                            return  'https://tiles.waqi.info/tiles/usepa-aqi/'  +  zoom  +  "/"  +  coord.x  +  "/"  +  coord.y  +  ".png?token=f29516843abd4e83617165a3f3609ae77b64ac11";
                  },
                  name:  "Air  Quality",
        });

            map.overlayMapTypes.insertAt(0,waqiMapOverlay);
</script>
</div>
  <!-- /END THE FEATURETTES -->

<hr>

<!-- FOOTER -->



</body>
</html>
