<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Household Weather</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">


</head>
<body>

	<!-- Carousel -->
<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
<!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
    </div><!-- .carousel-inner -->
    <div class="container carousel-overlay text-center">
        <h1>Weather, Temperature and PSI.</h1>
        <p class="lead">Choose settings based on your preferences. Update them and let the system do the work.</p>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Set Up Weather</button>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Weather Settings</h4>
                    </div>
                    <div class="modal-body">
                        <hr>
                        <h5>Morning:</h5>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <hr>
                        <h5>Mostly Cloudy:</h5>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <hr>
                        <h5>Mostly Sunny:</h5>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <hr>
                        <h5>Evening:</h5>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <hr>
                        <h5>30 - 50 degree celcius:</h5>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <hr>
                        <h5>20 - 30 degree celcius:</h5>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <hr>
                        <h5>10 - 20 degree celcius:</h5>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <hr>
                        <h5>PSI 300 and above</h5>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <hr>
                        <h5>PSI 200 - 300</h5>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <hr>
                        <h5>PSI 100 - 200</h5>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <hr>
                        <h5>PSI 0 - 100</h5>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <hr>
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- .carousel -->
<!--end bg-carousel-->
  <!-- START THE FEATURETTES -->

  <hr>
<div class="container">
  <!-- Example row of columns -->
   <div class="row">
       <div class="col-md-7">
           <h2 class="featurette-heading">Weather <span class="text-muted">Choose when you want your windows open/close depending on the weather.</span></h2>
           <h2 class="lead">Current Weather: {{ weath }}.</h2>
           <h2 class="lead">Current Weather Description: {{descrip}}. </h2>
           <h2 class="lead">Current Wind Speed: {{ windspd }} knots .</h2>
       </div>
    <div class="col-md-5 text-center">
      <img src="{{ url_for('static', filename='img/partlycloudy.gif') }}" class="featurette-image img-responsive" height ="300" width="300">
    </div>
   </div>
    <hr>

  <div class="row">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Temperature <span class="text-muted">Choose when you want your windows to open/close depending on the temperature. </span></h2>
      <h2 class="lead">Current temperature: {{ temp }} degrees.</h2>
        <h2 class="lead">Current Humidity: {{ humid }}.</h2>
    </div>
    <div class="col-md-5 col-md-pull-7 text-center">
      <img src="{{ url_for('static', filename='img/temphigh.gif') }}" class="featurette-image img-responsive" height ="200" width="200">
    </div>
  </div>
    <hr>

  <div class="row">
    <div class="col-md-7">
      <h2 class="featurette-heading">PSI <span class="text-muted">Checkmate.</span></h2>
      <h2 class="lead">Current PSI: {{ psi }}.</h2>
    </div>
    <div class="col-md-5 text-center">
      <img src="{{ url_for('static', filename='img/haze.gif') }}" class="featurette-image img-responsive">
    </div>
  </div>
  <!-- /END THE FEATURETTES -->
</div>

<hr>

<!-- FOOTER -->
<footer class="container-fluid">

	<p class="pull-right"><a href="#">Back to top</a></p>
	<p>© 2017 Copyrighted by John· <a href="#">Privacy</a> · <a href="#">Terms</a></p>

</footer>


</body>
</html>
