{% extends 'layout.html' %}

{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename="css/voice.css") }}">
<link rel="stylesheet" href="{{ url_for('static', filename="css/floorplan.css") }}">
<link rel="stylesheet" href="{{ url_for('static', filename="css/font-awesome.min.css") }}">
<script src="{{url_for('static', filename='js/voice.js')}}"></script>

<!-- overlay -->
<div class="overlay" id="nav">
	<a href="#" class="closeBtn" onclick="closeNav()" style="background-color:black;margin-top: 5%;color:white;border: 1px solid white;-webkit-border-radius:25%;-moz-border-radius: %;border-radius: %;">&times;</a>

	<div class="content">
		<h1 style="color:white;text-align:center;margin-top: 5%;">Commands</h1>
		<div class="container">
			<ul class="commands">
                <br/>
				<li><kbd>Turn on/off [device]</kbd></li><br/>
				<li><kbd>How is the weather today?</kbd></li><br/>
				<li><kbd>What time is it?</kbd></li><br/>
				<li><kbd>What is the date today?</kbd></li><br/>
                <li><kbd>How are my friends doing? [Opens Social media platform]</kbd></li><br/>
                <li><kbd>I would like to do some shopping[Opens Amazon]</kbd></li><br/>
                <li><kbd>Search for [topic]</kbd></li><br/>
                <li><kbd>Search video of [topic]</kbd></li><br/>
                <li><kbd>Lock door</kbd></li><br/>
                <li><kbd>Unlock the door</kbd></li><br/>
			</ul>
		</div>
	</div>

	<ul class="nav2">
        <li style="font-family: monospace;color: white;margin: 10px;"><h4>Instruction:</h4></li>
            <li><p style="color: white;">Press the word Vision in the center of the page and pass in the commands provided.</p></li>

	</ul>
</div>

<!--end overlay-->



<!-- overlay1 -->
<div class="overlay1" id="nav1">
	<a href="#" class="closeBtn" onclick="closeNav1()" style="color: black;">&times;</a>

    <h2 class="floorplan">Floor Plan</h2>

    <div id="plan">

        <div class="start"></div>

        <div class="room">
             <p class="roomName">Entrance</p>
             <div class="door"></div>
        </div>

         <div class="room">
             <p class="roomName">Kitchen</p>
             <div class="door"></div>
        </div>

        <div class="room">
            <a class="air_con" id="air_con">Air-con</a>
             <p class="roomName">Bedroom</p>
             <div class="door"></div>
        </div>

        <div class="room">
            <a class="comp">Computer</a>
             <p class="roomName">Bedroom</p>
             <div class="door"></div>
        </div>

        <div class="room">
            <a class="TV">TV</a>
             <p class="roomName">Living Room</p>
             <div class="door"></div>
        </div>
  </div>


</div>

<!--end overlay1-->


<!-- main content-->

<div id="particles-js">
<!-- nav -->
    <ul class="nav1">
      <li class="sidenav"><a href="#" onmousedown="beep.play()" onclick="openNav()">Commands</a></li>
      <li class="sidenav"><a href="#" onmousedown="beep.play()" onclick="openNav1()">Floor Plan</a></li>

    </ul>
<!-- nav -->

<!-- nav -->
    <!--h3 class="cnr">Commands and Response</h3-->
    <ul class="nav3" style="overflow-y: scroll;overflow-x: hidden;">
      <li class="text-light" style="text-decoration : none;text-align: left; margin-top: 5%;"><b><kbd class="chatname">Vision:</kbd></b> Greetings, what can i do for you?</li><hr>

        {% for i in range(count) %}
            <li class="text-light" style="text-align: left;"><b><kbd class="chatname">You:</kbd></b> {{ commands_list[i] }}</li><hr>
            <li class="text-light" style="text-align: left;"><b><kbd class="chatname">Vision:</kbd></b> {{ responses_list[i] }}</li><hr>
        {% endfor %}
    </ul>
<!-- nav -->

    <div class="container" align="center">
	<div class="ring1">
      <div class="ring">
        <div class="arcReactor">
          <span class="arcinner">
            <!--<a href="#"><img src="https://cdn.dribbble.com/users/32512/screenshots/3025506/artificial_intelligence_product_rokid.gif"></a>-->
              <a href="{{ url_for('call_function') }}" class="neon" data-text="Vision">Vision</a>
          </span>
        </div>
      </div>
	</div>
    </div>

	<!--dotted animation-->
		<ul id="voice_animate">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

</div><!--particle div end-->


<!--main end-->
    <!--script-->
    <script src={{ url_for('static', filename="js/particles.min.js")}}></script>
    <script src={{ url_for('static', filename="js/app.js")}}></script>
{% endblock %}
