*{
	font-family: monospace;
}

/*arc reactor*/
div.ring{
	position: absolute;
	width: 250px;
	height: 250px;
	top: 0;
	border: 7px solid #191919;
	margin-top: 30%;
	margin-left: 30%;
	border-radius: 100%;
	border-bottom: 5px solid transparent;
	box-shadow: 0 -1px 2px -1px rgba(255, 255, 255, 0.2),
							inset 0 1px 2px -1px rgba(255, 255, 255, 0.2);
}

div.arcReactor{
	position: relative;
	width: 220px;
	height: 220px;
	background: lightslategrey;
	opacity: .7;
	border-radius: 100%;
	text-align: center;
	margin-left: 7px;
	top: 10px;
	box-shadow: inset 0 2px 3px 3px rgba(0, 0, 0, 0.9),
							0 0 20px rgba(5, 212, 244, 0.5);
}

div.arcReactor .arcinner{
	position: absolute;
	content: '';
	width: 90%;
	height: 90%;
	display: inline-block;
	top: 0;
	left: 0;
	background: bleach;
	border-radius: 100%;
	margin-top: 5%;
	margin-left: 5%;
	box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.3),
							inset -15px -15px 20px 5px rgba(0, 0, 0, 0.2),
							inset 15px 15px 10px 5px rgba(0, 0, 0, 0.15),
							inset 0 0 22px 4px rgba(0, 0, 0, 0.9),
							inset 0 0.5px 2px 5px rgba(255, 255, 255, 0.9)
}

 a:hover{
     color: blueviolet;
     text-decoration: none;
     opacity: .8;
 }
/* arc end*/


/*nav */
ul.nav1 {
	position: absolute;
	top:15%;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    width: 200px;
	border: 1px solid white;
	border-radius: 40px 20px;
	transform: skewY(10deg);
	box-shadow:0 0 20px cyan;
}

ul.nav2 {
	position: absolute;
	top:15%;
	right:10%;
    list-style-type: none;
    background: #000;
    margin: 10px;
    padding: 10px;
    width: 200px;
	border: 1px solid white;
	border-radius: 40px 20px;
	box-shadow:0 0 20px cyan;
	transform: skewY(-10deg);
}

ul.nav3 {
	position: absolute;
	top:15%;
	right:2px;
    height: 500px;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    width: 300px;
	border: 1px solid white;
    border-right: transparent;
	border-radius: 40px 20px;
    box-shadow:0 0 20px cyan;
	transform: skewY(-10deg);
}

li a {
	text-align: center;
	border-radius: 100px 20px;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
	color:white;
}

li a:hover:not(.active) {
    border: 1px solid white;
    box-shadow: 0 0 20px cyan;
    color: lightblue;
}
/*end nav*/


/*overlay*/
.overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 0%;
	background: transparent;
	overflow-x: hidden;
	z-index: 5;
	transition: all 0.5s;
}


.overlay .closeBtn{
	color: #ccc;
	text-decoration: none;
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 50px;
}

.overlay1{
	position: fixed;
    bottom: 0%;
	left: 0;
	width: 0%;
	height: 100%;
    background: linear-gradient(to right, #f2fcfe, #1c92d2);
    opacity:.7;
	overflow-x: hidden;
	z-index: 5;
	transition: all 0.5s;
}


.overlay1 .closeBtn{
	color: #ccc;
	text-decoration: none;
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 50px;
}
/*end overlay*/



/*overlay content*/
ul.commands{
	color:white;
	list-style-type:none;
	text-align:center;
	border: 1px solid white;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 10%;
	box-shadow:0 0 20px cyan;
	background: #000;
}

.container{
	position:absolute;
	width:50%;
	left:25%;
}
/*end overlay content*/



/*Particle*/
#particles-js{
	height:200%;
	background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://www.hdwallpapers.in/walls/deep_space_4k-wide.jpg);
}
/*Particle end*/



/*Vision neon decoration*/
.neon{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	margin:0 auto;
	padding:0 auto;
	font-size:3em;
	color:#fff;
	text-shadow: 0 0 20px #E5E4E2;
}

.neon:after{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	color: #ff005b;
	filter: blur(20px);
}

.neon:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	width: 120%;
	height: 100%;
	background:#fe3a80;
	z-index: -2;
	opacity: .5;
	filter: blur(80px);
}
/*vision neon deco end*/



/*floor plan*/
#plan {
    margin: 25px 35%;
    width: 500px;
}

.room {
  position: relative;
  border: black 5px solid;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.room:before {         /* window */
  content: "";
  position: absolute;
}

.room:after {           /* door */
  content: "";
  position: absolute;
}

.roomName {
  margin-left: auto;
	margin-right: auto;
  font-weight: bold;
  font-size: 1.2em;
  color: #1658f4;
}

.start {
  position: relative;
  top: 53px;
  left: -20px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #ad1A06;
}



/*ROOMS*/
div.room:nth-child(2) {
  left: 0;
  top: 0;
  width: 180px;
  height: 77px;
  border-left-color: transparent;
  border-right-color: transparent;
}


/* Front door (first half)*/
div.room:nth-child(2):before {
  left: -2px;
  bottom: -2px;
  height: 33px;
  width: 25px;
  border-width: 3px 2px 2px 2px;
  border-style: double solid solid solid;
  border-color: black black black transparent;
  border-radius: 0 0 27px 0;
}


/* Front door (first half)*/
div.room:nth-child(2):after {
  top: -2px;
  left: -2px;
  height: 33px;
  width: 25px;
  border-width: 2px 2px 3px 2px;
  border-style: solid solid double solid;
  border-color: black black black transparent;
  border-radius: 0 27px 0  0;
}


div.room:nth-child(3) {
  left: 172px;
  top: -77px;
  width: 200px;
  height: 150px;
  border-left-color: transparent;
  line-height: 100px;
}


/*Kitchen window*/
div.room:nth-child(3):before {
  top: -4px;
  left: 45%;
  width: 60px;
  border-top: 2px solid #fff;
}


/*Kitchen door*/
div.room:nth-child(3):after {
  left: 25px;
  bottom: -5px;
  height: 30px;
  width: 30px;
  border-width: 2px 2px 6px 3px;
  border-style: solid solid solid double;
  border-color: black black #f7f7f7 black;
  border-radius: 0 32px 0 0;
}

div.room:nth-child(4) {
  left: 1px;
  top: -154px;
  width: 177px;
  height: 140px;
  line-height: 100px;
}


/*bedroom window*/
div.room:nth-child(4):before {
  top: 30px;
  left: -4px;
  height: 60px;
  border: 1px solid #fff;
}


/*bedroom door*/
div.room:nth-child(4):after {
  right: -5px;
  bottom: 10%;
  height: 30px;
  width: 30px;
  border-width: 2px 5px 3px 2px;
  border-style: solid solid double solid;
  border-color: black #f7f7f7 black black;
  border-radius: 32px 0 0 0;
}

div.room:nth-child(5) {
  left: 1px;
  top: -158px;
  width: 177px;
  height: 140px;
  line-height: 100px;
}


/*bedroom window*/
div.room:nth-child(5):before {
  top: 30px;
  left: -4px;
  height: 60px;
  border: 1px solid #fff;
}


/*bedroom door*/
div.room:nth-child(5):after {
  right: -5px;
  bottom: 10%;
  height: 30px;
  width: 30px;
  border-width: 2px 5px 3px 2px;
  border-style: solid solid double solid;
  border-color: black #f7f7f7 black black;
  border-radius: 32px 0 0 0;
}

div.room:nth-child(6) {
  left: 175px;
  top: -371px;
  width: 197px;
  height: 213px;
  line-height: 190px;
  border-top: transparent;
  border-left: transparent;
}



/*living room window*/
div.room:nth-child(6):before {
  top: 30px;
  right: -4px;
  height: 60px;
  border: 1px solid #fff;
}
/*End floor plan*/


.floorplan{
    text-align: center;
    margin: 50px;
}

#air_con{
    padding: 4px;
    border: 1px solid #191919;
}




/*Vision animation*/
#voice_animate{
	position: absolute;
	top: 65%;
	left:50%;
	transform: translate(-50%,50%);
	margin: 0;
	padding: 0;
	display: flex;
}


#voice_animate li{
	list-style: none;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	animation: animate 1.6s ease-in-out infinite;
}

@keyframes animate{
	0%, 40%, 100%{
		transform:scale(0.2);
	}
	20%{
		transform:scale(0.7);
	}
}

#voice_animate li:nth-child(1){
	animation-delay: -1.4s;
	background: #E5E4E2;
	box-shadow: 0 0 50px #737CA1;
}

#voice_animate li:nth-child(2){
	animation-delay: -1.2s;
	background: #E5E4E2;
	box-shadow: 0 0 50px #737CA1;
}

#voice_animate li:nth-child(3){
	animation-delay: -1s;
	background: #E5E4E2;
	box-shadow: 0 0 50px #737CA1;
}

#voice_animate li:nth-child(4){
	animation-delay: -0.8s;
	background: #E5E4E2;
	box-shadow: 0 0 50px #737CA1;
}

#voice_animate li:nth-child(5){
	animation-delay: -.6s;
	background: #E5E4E2;
	box-shadow: 0 0 50px #737CA1;
}

#voice_animate li:nth-child(6){
	animation-delay: -.4s;
	background: #E5E4E2;
	box-shadow: 0 0 50px #737CA1;
}

#voice_animate li:nth-child(7){
	animation-delay: -.2s;
	background: #E5E4E2;
	box-shadow: 0 0 50px #737CA1;
}
/*End animation*/

hr{
	border-color: white;
    box-shadow:0 0 10px cyan;
}

.cnr{
    color: white;
    text-align: right;
    transform: skewY(-10deg)

}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    box-shadow: 0 0 20px cyan;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
    border-radius: 40px 20px;
}

