/* Styles for WeatherSettings */

/* The switch - the box around the slider */
.weather_switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.weather_switch input {display:none;}

/* The slider */
.weather_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.weather_slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .weather_slider {
  background-color: #2196F3;
}

input:focus + .weather_slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .weather_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.weather_slider.round {
  border-radius: 34px;
}

.weather_slider.round:before {
  border-radius: 50%;
}

/*Style for background jumbotron */
.slide1 {
	min-height: 560px; /* Must have a height or min-height set due to use of background images */
	background-size: cover;
	background-position: center center;
}
.slide1 {
	background-image: url("../img/backgroundimage.jpg");
}

.carousel.carousel-fade .active.item {
	opacity: 1;
}

/* Carousel Overlay */
.carousel-overlay {
	position: absolute;
	bottom: 200px;
	right: 0;
	left: 0;
}

/****************************/
/*                          */
/*Styles for carousel overlay*/
/*                          */
/****************************/

.carousel-overlay {
	color: white;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,.75);*/
}
.carousel-overlay h1 {
    font-size: 3.5em;
}
.carousel-overlay .btn {
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #398439;
    border-radius: 6px;
}
.carousel-overlay .btn-lg {
    font-size: 1.75em;
    padding: 10px 30px;
}
.circles {
	margin-top: 20px;
    background-color: #398439;
    color: #fff;
    border-radius: 50%;
    line-height: 3em;
    width: 3em;
    height: 3em;
}
.featurette-image {
    display: block;
    margin: auto;
}

body {
    background-color: #17181C;
}

p {
    color:white
}

h2 {
    color:white
}

h3 {
    color:white
}
