.error-message {
	color: red;
}

#button_login {
	background: #00cc00;
	color: white;
	border-radius: 5px;
	margin-right: 15px;
}

#button_login:hover {
	background: #00b300;
}

#button_signup {
	background: #3399ff;
	color: white;
	border-radius: 5px;
}

#button_signup:hover {
	background: #1a8cff;
}

#button_selection a {
	width: 8em;
	height: 15vh;
	line-height: 13vh;
	margin-bottom: 5%;
	border-radius: 5px;
    min-height: 50px;
	margin-left: 3%;
}

#device_table {
    table-layout: fixed;
	height: 82vh;
}

#device_table td {
    border-top: none;
    border-bottom: none;
}

.device_menu_row:nth-last-child(2) td {
    height: 100%;
}

.device_menu_header {
	height: 5em;
}

.button_device {
    width: 70%;
}

.button_device_power {
	float: right;
}

#left {
	float: left;
}

#middle {
    left: -3%;
}

/* Toggle checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: crimson;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 21px;
    left: 3px;
    bottom: 3px;
    background-color: lightgray;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: limegreen;
}

input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Log in/sign up form style */
.form-content .form-group {
    margin-bottom: 20px;
}

.form-content label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content .form-group input {
    border: none;
    border-bottom: 2px solid #4285f4;
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    width: 100%;
}

.form-content input:focus {
    outline: 0;
}

.form-content .error-message {
    margin: 14px 0;
}

.form-content .error-message + input {
    border-bottom: 2px solid crimson;
}

.form-content h2 {
    font-weight: 300;
    padding-bottom: 10px;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
}

.background {
    position: fixed;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}

.form-content {
    margin: 4% auto 600px auto;
    width: 30%;
}

.form-content .btn {
    width: 100%;
    margin-top: 30px;
}

/* Remote device dropdown menu */
.device_dropdown_content {
    display: none;
    background-color: #37474F;
    width: 70%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 0 5px 0;
}

#button_device_info {
    margin-left: 6px;
}

#button_device_remove {
    margin-right: 6px;
}

#button_device_interface {
    margin-top: 5px;
}