<div class="remote_nav col-sm-2 btn-group-lg" id="remote_selection">
    <a href="{{ url_for('remote_devices') }}" class="btn btn-outline-primary"><i class="material-icons">lightbulb_outline</i> Devices</a>
    <a href="{{ url_for('remote_heatmap') }}" class="btn btn-outline-primary"><i class="material-icons">layers</i> Heatmap</a>
    <a href="#" class="btn btn-outline-primary"><i class="material-icons">dns</i> Presets</a>
    <a href="#" class="btn btn-outline-primary"><i class="material-icons">schedule</i> Schedule</a>
    <a href="{{ url_for('remote_usage') }}" class="btn btn-outline-primary"><i class="material-icons">power</i> Usage</a>
</div>
